.admin-component{
  .insight-component{
    .reviews-componant, .products-componant{
      margin: auto;
      padding: 10px 0px;
      @media (max-width: 543px) {
          padding: 10px 15px;
      }
    }
  }
}