.btn.btn-success.btn-lg.btn-block{
  background: $brand-color;
  border-radius: 3px;
  transition: 0s;

  &:hover{
    background-color: #15bc70;
    border-color: #15bc70;
  }

  &:active {
    color: #fff;
    background-color: #0a5d38;
    border-color: #063822;
  }
}

.btn.btn-link{
  color: $brand-color;
  cursor: pointer;
  text-transform: none;
  text-decoration: none;

  &:hover{
    color: lighten($brand-color, 10%);
    text-transform: none;
    text-decoration: none;
  }

  &:active {
    color: darken($brand-color, 10%);
    text-transform: none;
    text-decoration: none;
  }
  &:link, &:visited{
    text-transform: none;
    text-decoration: none;
  }
}
button, button.btn{
  cursor: pointer;
  user-select: none !important;
}

input.form-control, textarea.form-control {
    &:focus{
      color: #495057;
      background-color: #fff;
      border-color: rgba($brand-color, 1);
      outline: 0;
      box-shadow: 0 0 0 0.15rem rgba(lighten($brand-color, 10%), 0.2);
    }
}
i.fas {
  margin-right: 2px;
}